<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gooeyfaze.deface"
    android:installLocation="auto">

    <application
        android:hardwareAccelerated="true"
        android:label="deface"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face"/>

        <activity
            android:name="com.gooeyfaze.deface.MainActivity"
            android:icon="@drawable/icon"
            android:label="@string/title_activity_photo_viewer"
            android:theme="@android:style/Theme.Black.NoTitleBar"
            android:screenOrientation="sensorPortrait">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.gooeyfaze.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>
